.cooperation {
}

.cooperation__col {
  width: $c-6;

  &:first-child {
    padding-right: 60px;

    @media (max-width: $lg) {
      padding-right: 0;
    }

    @media (max-width: $md) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: $md) {
    width: $c-12;
  }
}

.cooperation__p {
  font-size: 14px;
  letter-spacing: .01em;
}
