.cost {
  margin-top: -20px;

  @media (max-width: $md) {
    margin-top: 0;
  }
}

.cost__row {
}

.cost__text {
  width: $c-8;
  @media (max-width: $md) {
    width: $c-12;
    margin-bottom: 30px;
  }
}

.cost__wrap-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $c-4;
  @media (max-width: $md) {
    width: $c-12;
  }
}
