.principle {
  margin-bottom: -180px;

  @media (max-width: $md) {
    margin-bottom: -130px;
  }
}

.principle__text {
  margin-bottom: 30px;
}

.principle__title {
  width: $c-4;

  @media (max-width: $md) {
    width: $c-12;
  }
}

.priciple__box-p {
  width: $c-8;

  @media (max-width: $md) {
    width: $c-12;
  }
}

.priciple__slider {
  position: relative;
  z-index: 10;
}

.priciple__slider-list {
}

.priciple__slider-item {
}

.priciple__btn {
  position: absolute;
  top: 50%;

  margin-top: -30px;

  @media (max-width: $sl) {
    top: auto;
    bottom: 10px;

    width: 40px;
    height: 40px;

    background-color: rgba(255, 255, 255, .5);
  }

  @media (max-width: $sm) {
    width: 30px;
    height: 30px;
  }

  .icon {
    width: 34px;
    height: 34px;

    fill: rgba(0, 0, 0, .5);

    @media (max-width: $sm) {
      width: 20px;
      height: 20px;
    }
  }

  &.slick-btn_prev {
    left: -80px;

    @media (max-width: $sl) {
      left: calc(50% - 50px);
    }
  }

  &.slick-btn_next {
    right: -80px;

    @media (max-width: $sl) {
      right: calc(50% - 50px);
    }
  }
}
