.to-do {
}

.to-do__list {
  @extend .row;
}

.to-do__item {
  @extend .col;

  width: $c-6;
  padding: 45px 50px 30px;

  @media (max-width: $md) {
    width: $c-12;
  }

  @media (max-width: $sm) {
    padding: 30px 30px 20px;
  }

  &_wide {
    display: flex;
    width: $c-12;

    @media (max-width: $md) {
      flex-direction: column;
    }

    .title-2 {
      flex-shrink: 0;
      width: 260px;
      margin-right: 8%;
      @media (max-width: $md) {
        width: 100%;
      }
    }
  }
}

.to-do__title {
  font-size: 26px;
  line-height: 1.73;
}
